<!-- 
<header class="header">
    <nav>
      <a href="#" class="logo">
        <div class="logo-div">
          <img src="/logo.png" alt="logo" class="logo-img"/>
         
        </div>
      </a>
   
      <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/contact-us">Contact Us</a></li>
        <li class="contact-info">
            <i class="fas fa-phone"></i> +91-1234567890
        </li>
       
      </ul>
    </nav>
  </header> -->

<header class="header">
  <div class="logo-div">
    <a href="#" >
      <img src="/logo.png" alt="logo" />
    </a>
  </div>

  <nav>
 
    <!-- Offcanvas Toggle Button (Visible only on small screens) -->
    <button
      class="btn btn-primary menu-btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
    >
      <i class="fas fa-bars"></i>
    </button>

    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
      <li class="contact-info"><i class="fas fa-phone"></i> +91-1234567890</li>
    </ul>
  </nav>
</header>

<div
  class="offcanvas offcanvas-end text-bg-dark "
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="offcanvas-nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
    </ul>
  </div>
</div>

<!-- <header class="header">
    <nav>
      <a href="#" class="logo">
        <div class="logo-div">
          <img src="/logo.png" alt="logo" class="logo-img" />
        </div>
      </a>
  
     
      <div class="menu-toggle"  (click)="toggleMenu()">
        <i class="fa-solid" [ngClass]="isMenuOpen ? 'fa-times' : 'fa-bars'"></i>
      </div>
  
     
      <ul class="nav-links" id="links" [class.show]="isMenuOpen">
        <li><a routerLink="/" (click)="closeMenu()">Home</a></li>
        <li><a routerLink="/products" (click)="closeMenu()">Products</a></li>
        <li><a routerLink="/about-us" (click)="closeMenu()">About Us</a></li>
        <li><a routerLink="/contact-us" (click)="closeMenu()">Contact Us</a></li>
        <li class="contact-info">
          <i class="fas fa-phone"></i> +91-1234567890
        </li>
      </ul>
    </nav>
  </header>
   -->
